@import '~@angular/material/theming';

$app-primary: (
  50:	#f4f8f9,
  100: #e9f4fa,
  200:	#d7dadb,
  300:	#b0bdc3,
  400:	#00b4ff,
  500:	#2ca1f4,
  600:	#1c91e5,
  700:	#31384a,
  800:	#434d66,
  900:	#f5f9fa,
  A100:	#d8eefa,
  A200:	#97abc0,
  A400:	#7aadeb,
  A700:	#5fbddd,
  A701:	#657384,
  A702:	#1a5880,
  A703:	#7ad4f5,
  A704:	#55badf,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
  )
);

$app-accent: (
  50: #f7c65f,
  100: #f3aa12,
  200: #fcc62b,
  300: #f38e3c,
  400: #ebac7a,
  500: #f38e3c,
  600: #9ff75f,
  700: #8dc252,
  800: #b9bfd8,
  900: #9ca2c0,
  A100: #7d8ead,
  A200: #c4b0f5,
  A400: #a992e2,
  A700: #a867dd,
  A701: #a9d759,
  A702: #e9f4fa,
  A703: #ebebeb,
  A704: #65696c,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
  )
);

$app-warn: (
  50: #ffebee,
  100: #f1737c,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #f1737c,
  600: #e53935,
  700: #f36a5b,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,

  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
  )
);
